.gridTemplate {
    display: grid;
    grid-template-columns: min-content 4fr min-content;
    grid-template-rows: auto;
}

.collapsedGrid {
    display: grid;
    grid-template-columns: min-content 4fr min-content;
    grid-template-rows: auto;
}

@media only screen and (max-width: 700px) {
    .gridTemplate {
        grid-template-columns: 0 1fr 0;
    }
    
    .collapsedGrid {
        display: flex;
        flex-flow: column;
        flex-direction: row-reverse;
    }
}

.placeHolder,.content {
    transition: 0.5s;
    width: 10vw;
}

.collapsedGrid .placeHolder {
    transition: 0.5s;
    width: 0;
}

.collapsedGrid .content {
    transition: 0.5s;
    width: 40vw;
    margin: 20px 10px;
    font-size: var(--font-size-large);
    color: var(--font-color);
};
