.gridTemplate {
    display: grid;
    grid-template-columns: min-content 4fr min-content;
    grid-template-rows: auto;
}

.collapsedGrid {
    display: grid;
    grid-template-columns: min-content 4fr min-content;
    grid-template-rows: auto;
}

.placeHolder,.content {
    transition: 0.5s;
    width: 10vw;
}

.collapsedGrid .placeHolder {
    transition: 0.5s;
    width: 0;
}

.collapsedGrid .content {
    transition: 0.5s;
    width: 40vw;
};
