.resumeWrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
    padding: 10px 30px;
    justify-self: center;
    width: 8.5in;
    height: 11in;
    max-width: 70vw;
    background-color: var(--white);
    color: var(--font-color);
    font-size: var(--print-small);
}

/* @media print { */
