.gridTemplate {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto;
    margin: 30px;
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    background-color: var(--theme-color);
}

.allNotes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noteTitle {
    color: var(--font-color);
    text-decoration: underline;
    cursor: pointer;
}

.createNewButton {
    padding: 10px;
    width: 100px;
    justify-self: start;
}

.noteTitle {
    justify-self: center;
}

.loginTab {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: end;
}

.loginName {
    padding-right: 5px;
}

.profilePicSize {
    width: 50px;
}
