:root {
   --theme-color: #E3F2F3;
   --font-color:  #5c5c5c;
   --border-color: #c4c4c4;
   --white: #ffffff;
   --content-color: #FAF5ED;
   --hover-color: #781c1c;
   --reverse-content: #E3F2F3;

}

.backgroundImg {
    display: grid;
    grid-template-rows: min-content;
    background-size: cover;
    height: 100%;
    width: 100%;
}

body { 
    overflow-y: auto;
    overflow-x: hidden;
}