.title{
    height: min-content;
    font-size: var(--font-size-medium);
    font-weight: 600;
    width: 160px;
    padding-right: 50px;
}

.skillList {
    display: inline-block;
}

.resumeComputerSkillsWrapper {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.resumeComputerSkillsWrapper:hover {
    border: 2px solid var(--resume-border-color);
    background-color: var(--resume-content-hoverBackground);
    transition: 0.4s;
}