.header {
    display: flex;
    justify-content: space-between;
    color: var(--font-color);
}

.headerFields,
.headerMenu {
    display: inline-block;
    width: 20%;
    max-width: 30px;
    padding: 20px;
}

.headerMenu:hover {
    fill: #9e0202;
}

.headerTitle {
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
}

