.body {
    display: flex;
    flex-direction: column;
}

.backgroundPic {
    width: 80%;
    justify-self: center;
    max-width: 1200px;
    height: 500px;
    align-self: center;
    background-image: url('../../assets/manhattan.jpg');
    background-repeat:no-repeat;
    background-position: top;
    background-size: minmax(1000, 80%), 500px;
    filter: drop-shadow(1px 3px 2px black);
    z-index: 1;
}

.backgroundBlur {
    position: absolute;
    width: 100vw;
    height: 500px;
    background-image: url('../../assets/manhattan.jpg');
    z-index: -2;
    filter: blur(2px);
}

.backgroundWhite {
    position: absolute;
    width: 100vw;
    height: 500px;
    background-color: white;
    opacity: 0.3;
}

.content {
    display: flex;
    justify-content: center;
    color: var(--font-color);
    margin-top: 20px;
}